.full
    height 100vh
.flex
    display flex
.direction-column
    flex-direction column
.direction-row
    flex-direction row
.text-center
    text-align center
.container
    width 100%
    padding 10px
    margin 0 auto
.align-center
    align-items center
.align-baseline
    align-items baseline 
.justify-content
    justify-content space-between
.justify-content-space-evenly
    justify-content space-evenly
.justify-content-center
    justify-content center
.container-border
    border-radius 10px

