.full
    height 100vh
.flex
    display flex
.direction-column
    flex-direction column
.text-center
    text-align center
.container
    width 100%
    max-width 1200px
    padding 30px
    margin 0 auto
.align-center
    align-items center
.justify-content
    justify-content: space-between